.online-checkin {
  height: 100vh;

  .mat-toolbar {
    text-align: center;
    display: flex;
    justify-content: center;
    background: url("/assets/img/af_pattern_bg.png");
  }

  .container {
    margin: auto 40px;
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 640px) {
  .online-checkin {
    margin: 10px;

    .container {
      margin: auto 0px;
    }
  }
}
